 <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="static/juego/estilos_pantalla_juego.css" rel="stylesheet"/>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            let preguntas1 = {{ preguntas1|tojson }}
            let preguntas2 = {{ preguntas2|tojson }}
            let preguntasBonus = {{ preguntasBonus|tojson }}
            let respuestas = {{ respuestas|tojson }}
            let usuario = {{ usuario|tojson }}
            let datos = {{ datos|tojson }}
            //let topUsuario= {{ topUsuario }}
        </script>


    </head>
    
    <body id="body" >
        <div id="container-principal">
            <div id="base">
            
                <!-- Pantalla principal -->
                <div class="rounded-3 g-0 p-0 row" id="container">

                    <div class="rounded-start principal g-0 text-center col-10" id="main" style="display: display;" >
                        
                        <img id="avatar_maestro" src="../static/imagenes/avatares/guia.png"> <!-- placeholder para la imagen del 'maestro' -->

                        <div id="container-info">
                            <div class="rounded-3 p-4 w-100" id="info" style="display: block;">
                                <!-- Para la teoria -->
                                <div class="p-0" id="teoria" style="height:100%; display:none">
                                </div>
                               
                                <!-- Para las preguntas -->
                                <form class="form-check p-0 m-0" style="width: 100%; height:100%; display: none;" id='form'>
                                </form>       

                                <!-- Para los dialogos -->
                                <div class="p-0 m-0 row g-0" id="dialogo" style="display: block;">
                                </div>   
                            </div>
                            
                            <!-- Botones -->
                            <div class="d-grid gap-2 d-flex align-items-end position-absolute bottom-0 start-50 translate-middle-x ps-5 col-12" id="botonera">
                                    
        
                                <a href="{{ url_for('index') }}" style="color:black;" class="btn shadow-none m-0 p-0 col-1 h-100">
                                    <img src="../static/imagenes/botones/house-heart.svg" class="botones-menu">
                                </a> 

                                <a onclick=adminAgregar(usuario) style="color:black;height:90%" class="btn shadow-none m-0 p-0 col-1">
                                    <img src="../static/imagenes/botones/terminal.svg" class="botones-menu">
                                </a> 
    
                               
                                <div class="my-0 px-5 py-0 col-8 text-end h-100" id="navegacion" style="display:none">
                                    <button type="button" class="btn shadow-none p-0 h-100" name="btnNavegacion" id="anterior">
                                        <img src="../static/imagenes/botones/arrow-left-circle.svg" onclick="pagAnterior()" class="botones-menu">
                                    </button>
                                    <button type="button" class="btn shadow-none p-0 h-100" name="btnNavegacion" id="siguiente">
                                        <img src="../static/imagenes/botones/arrow-right-circle.svg" onclick="pagSiguiente()" class="botones-menu" >
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div id="puntaje" class="rounded-3 p-3 lh-1 text-light rana">✦ Tu puntaje: 0 ✦</div>
                        <img id="avatar_usuario" src="{{ datos['icon'] }}">
                        
                    </div>
                    <div class="rounded-end h-100 col-2" id="mapa" style="display: block;">
                    </div>

                </div>
                
                <!-- Pantalla final (final del juego) -->
                <div class="rounded-3 principal g-0 my-3 text-center col-10 " id="final" style="display: none;" >
                    <div class="caja rounded-3">
                        <div id="texto" class= "rounded-3"></div>
                        <div id="ranking"></div>
                        <img class="position-absolute bottom-0 end-0 m-5" id="avatar_usuario" src="{{ datos['icon'] }}"> <!-- placeholder para la imagen del avatar -->
                 
                        <a id="btnSalir"  class="boton btn btn-success" style="left:64%;" role="button" href="{{url_for('index')}}">Salir </a>
                        <button id="btnVolver" type="submit" class="boton btn btn-success" style="left:42%;" onclick="url_for('inicioJuego')">Volver a jugar</button>
                      <button id="btnMostrar" type="submit" class="boton btn btn-success" style="left:20%" onclick="mostrarRanking()">Mostrar Ranking </button>
                    </div>
                </div>
                
            </div>
                
                
            </div>
        

        <!-- --------- AVISO CORRECTO / INCORRECTO ---------- -->
        <div class="toast-container position-absolute top-0 start-0 p-3" style="z-index: 1;" id="alerts">

             
        </div>
        
        <script src="static/juego/dialogo.js"></script>
        <script src="static/juego/teoria.js"></script>
        <script src="static/juego/pantalla_juego.js"></script>
    </body>
</html>